* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg-green {
    background-color: #f9ae4d;
}

.bg-grey {
    background-color: #bdbdbd;
}

.bg-kicks {
    background-color: #008e96 !important;
}

.bg-red {
    background-color: #f1605d;
}

.bg-sast {
    background-color: #1165b4 !important;
}

.bg-sca {
    background-color: #0fcdc2 !important;
}

.header-row .info .data .calendar-svg {
    margin-right: 8px;
}

.header-row .info .data .scan-svg svg {
    -webkit-transform: scale(0.43);
    margin-top: -9px;
    transform: scale(0.43);
}

.header-row .info .data .scan-svg {
    margin-left: -10px;
}

.header-row .info .data svg path {
    fill: #565360;
}

.header-row .info .data {
    color: #565360;
    display: flex;
    margin-right: 20px;
}

.header-row .info {
    display: flex;
    font-size: 13px;
}

.header-row {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    display: flex;
    height: 30px;
    justify-content: space-between;
    margin-bottom: 5px;
}

.main {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.progress {
    background-color: #e9ecef;
    display: flex;
    height: 1em;
    overflow: hidden;
}

.progress-bar {
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    background-color: grey;
    color: #FFF;
    display: flex;
    flex-direction: column;
    font-size: 11px;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
}


.top-row .element {
    margin: 0 3rem 6rem;
}

.top-row .risk-level-tile .value {
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.top-row .risk-level-tile {
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    background: #fff;
    border: 1px solid #dad8dc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    color: #565360;
    min-height: 120px;
    width: 24.5%;
}

.top-row .risk-level-tile.high {
    background: #f1605d;
    color: #fcfdff;
}


.chart .total {
    font-size: 24px;
    font-weight: 700;
}

.chart .bar-chart {
    margin-left: 10px;
    padding-top: 7px;
    width: 100%;
}

.legend {
    color: #95939b;
    float: left;
    padding-right: 10px;
    text-transform: capitalize;
}


.chart .total {
    font-size: 24px;
    font-weight: 700;
}

.chart .bar-chart {
    margin-left: 10px;
    padding-top: 7px;
    width: 100%;
}

.top-row .vps-tile .legend {
    color: #95939b;
    float: left;
    padding-right: 10px;
    text-transform: capitalize;
}

.chart .engines-bar-chart {
    margin-bottom: 6px;
    margin-top: 7px;
    width: 100%;
}

.legend {
    color: #95939b;
    text-transform: capitalize;
    float: left;
    padding-right: 10px;
}

.top-row {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    width: 100%;
}

.bar-chart .progress .progress-bar.bg-danger {
    background-color: #f1605d !important;
}

.bar-chart .progress .progress-bar.bg-success {
    background-color: #bdbdbd !important;
}

.bar-chart .progress .progress-bar.bg-warning {
    background-color: #f9ae4d !important;
}

.width-100 {
    width: 100%;
}

.bar-chart .progress .progress-bar {
    color: #FFF;
    font-size: 11px;
    font-weight: 500;
    min-width: fit-content;
    padding: 0 3px;
}

.bar-chart .progress .progress-bar:not(:last-child), .progress-bar:not(:last-child), .bar-chart .progress .progress-bar:not(:last-child) {
    border-right: 1px solid #FFF;
}

.bar-chart .progress {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQYV2NkQAIfPnz6zwjjgzgCAnyMYAEYB8RmROaABAAU7g/W6mdTYAAAAABJRU5ErkJggg==) repeat;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    height: 1.5rem;
    overflow: hidden;
}

.engines-legend-dot, .severity-legend-dot {
    font-size: 14px;
    padding-left: 5px;
}

.severity-engines-text, .severity-legend-text {
    float: left;
    height: 10px;
    margin-top: 5px;
    width: 10px;
}

.chart {
    display: flex;
}

.element .total {
    font-weight: 700;
}

.top-row .element {
    -ms-flex-direction: column;
    -ms-flex-pack: justify;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: justify;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    color: #565360;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 120px;
    padding: 16px 20px;
    width: 24.5%;
}